- name: import prompt
  ansible.builtin.import_role:
      name: common
      tasks_from: prompt

- name : create user
  ansible.builtin.user:
    name : roboshop
    state : present

- name: Create a app directory if it does not exist
  ansible.builtin.file:
    path: /app
    state: directory
    mode: '0755'

- name: install maven package
  ansible.builtin.import_role:
      name: common
      tasks_from: maven

- name : install shipping
  ansible.builtin.unarchive:
    src: https://roboshop-artifacts.s3.amazonaws.com/shipping-v3.zip 
    dest : /app
    owner : roboshop
    remote_src: yes

- name : install mysql SERVER
  ansible.builtin.dnf :
    name : mysql-server
    state : installed

- name : set password
  ansible.builtin.shell : |
    mysql -h mysql-dev.sdevops.shop -uroot -pRoboShop@1 < {{ item }}
  loop:
    - /app/db/schema.sql
    - /app/db/app-user.sql
    - /app/db/master-data.sql

- name: restart service
  ansible.builtin.import_role:
      name: common
      tasks_from: service