# 

- name: import docker install
  ansible.builtin.import_role:
      name: common
      tasks_from: docker

- name : run docker
  community.docker.docker_container:
    name: "{{ component }}"
    image: "public.ecr.aws/w8x4g9h7/roboshop-v3/{{ component }}"
    ports:
      - "8080:8080"
    env:
      MONGO: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/catalogue:MONGO token={{token}} url=https://vault_p-internal.sdevops.shop:8200 validate_certs=false') }}"
      MONGO_URL: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/catalogue:MONGO_URL token={{token}} url=https://vault_p-internal.sdevops.shop:8200 validate_certs=false') }}"

- name : load schema
  community.docker.docker_container:
    name: schema-load
    image: "public.ecr.aws/w8x4g9h7/roboshop-v3/schema-load"
    env:
      DB_TYPE: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/catalogue:DB_TYPE token={{token}} url=https://vault_p-internal.sdevops.shop:8200 validate_certs=false') }}" 
      APP_GIT_URL: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/catalogue:APP_GIT_URL token={{token}} url=https://vault_p-internal.sdevops.shop:8200 validate_certs=false') }}" 
      DB_HOST: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/catalogue:DB_HOST token={{token}} url=https://vault_p-internal.sdevops.shop:8200 validate_certs=false') }}"
      SCHEMA_FILE: "db/master-data.js"
