- name: import prompt
  ansible.builtin.import_role:
      name: common
      tasks_from: prompt

- name : create a user
  ansible.builtin.user:
    name: github-runner
    home: /github-runner

- name: download github-runner software
  ansible.builtin.unarchive:
    src: https://github.com/actions/runner/releases/download/v2.329.0/actions-runner-linux-x64-2.329.0.tar.gz
    dest: /github-runner
    owner: github-runner
    group: github-runner
    remote_src: yes

- name: Install libicu
  ansible.builtin.dnf:
    name: libicu
    state: installed

- name: configure github-runner
  ansible.builtin.shell: |
    ./config.sh --url https://github.com/EcommerceAppDeployment --token {{runner_token}} --runnergroup Default --name github-runner --labels self-hosted --work _work --replace
  args:  
    chdir: /github-runner
  become_user: github-runner
  vars:
    runner_token: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-infra/data/github-runner:RUNNER_TOKEN token={{token}} url=https://vault_p-internal.sdevops.shop:8200 validate_certs=false') }}"
  ignore_errors: yes

- name: Copy Service
  ansible.builtin.template:
    src: github-runner.service
    dest: /etc/systemd/system/github-runner.service

- name: Start Runner Service
  ansible.builtin.systemd_service:
    name: github-runner
    state: restarted
    enabled: yes

- name: download terraform
  ansible.builtin.get_url:
    url: https://rpm.releases.hashicorp.com/RHEL/hashicorp.repo
    dest: /etc/yum.repos.d/hashicorp.repo

- name: install terraform
  ansible.builtin.dnf:
    name: terraform
    state: installed

- name: copy docker repo
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/rhel/docker-ce.repo
    dest: /etc/yum.repos.d/docker.repo

- name: Download docker
  ansible.builtin.dnf:
    name: docker-ce
    state: installed

- name: Start docker
  ansible.builtin.systemd_service:
    name: docker
    state: started
    enabled: yes

- name: add user
  ansible.builtin.user:
    name: github-runner
    groups: docker
